* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;
    font-family: K2D, sans-serif;
}

@font-face {
    font-family: K2D;
    src: url(../fonts/K2D/K2D-Medium.ttf) format("truetype");

}

:root {
    --index: calc(1vw + 1vh);
}

main {
    display: flex;
    min-height: 69.6vh;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    margin-top: 100px
}

.introduction_text {
    font-size: 40px;
}

.list_requests {
    display: grid;
    width: 80%;
    grid-template-columns: 10% 20% 60% 10%;
    margin-top: 40px;
}

.list_requests p:not(:last-child){
    margin-bottom: 10px;
}

.list_item {
    color: black;
    font-size: 32px;
    text-align: center;
}

.list_item_link {
    font-size: 32px;
    color: coral;
    text-align: center;
}

.list_item_link:hover {
    text-decoration: underline;
}

footer {
    display: none;
}