{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'support_pages/user_requests.css' %}">
    <title>My requests</title>
</head>
<body>
    <main>
        <p class="introduction_text">Welcome to our inquiries page! You may view your previous requests here</p>
        <div class="list_requests">
            <p class="list_item">ID</p>
            <p class="list_item">AUTHOR</p>
            <p class="list_item">REASON TITLE</p>
            <p class="list_item">STATUS</p>
            {% for item in user_requests %}
                <a class="list_item_link" href="{% url 'support_chat' item.pk %}"># {{ item.id }}</a>
                <p class="list_item">{{ item.author }}</p>
                <p class="list_item">{{ item.reason_title }}</p>
                <p class="list_item">
                    {% if item.status == False %}
                        Unsolved
                    {% else %}
                        Solved
                    {% endif %}
                </p>
            {% endfor %}
        </div>
    </main>
</body>
</html>
{% endblock content %}