* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;
}

@font-face {
    font-family: K2D;
    src: url(../fonts/K2D/K2D-Medium.ttf) format("truetype");

}

html, body {
    font-family: K2D, sans-serif;
    width: auto !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

:root {
    --index: calc(1vw + 1vh);
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: top;
    background-image: url(../IMG/profile/profile_bg.png);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction_block {
    position: absolute;
    top: 115px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: calc(var(--index) * 0.8);
    color: #E3BDA1;
    -webkit-text-stroke: 0.001rem black;
}

.main_content {
    position: absolute;
    top: 150px;
    width: 1000px;
    height: 600px;
    margin-top: 120px;

    overflow-y: scroll;
}

.main_content::-webkit-scrollbar {
    width: 14px;
    background-color: #5f4b3c6c;
    border-radius: 8px;
}

/* .main_content::-webkit-scrollbar-button {
    background: #e3bca171;
} */

.main_content::-webkit-scrollbar-thumb {
    background-color: #E3BDA1;
    border-radius: 8px;
    border: 3px solid #E3BDA1;
}

.list_containers {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item_container {
    width: 900px;
    min-height: 450px;
    display: grid;
    grid-template-columns: 50% auto;
    /* display: flex;
    justify-content: center;
    flex-direction: row; */

    padding: 0 25px;
    
    background-color: #5f4b3c6c;
    border-radius: 8px;
}

.item_container:not(:first-child) {
    margin-top: 150px;
    margin-bottom: 100px;
}

.discription_block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E3BDA1;

    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1px;
    text-wrap: balance;
}

.change_password_block {
    width: 100%;
}

.change_password_block form {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.change_password_block form :not(:first-child) {
    margin-top: 20px;
}

.password_field {
    width: calc(var(--index) * 12);
    height: 60px;
    border-radius: 6px;
    background-color: rgba(55, 54, 53, 0.71);
    font-size: calc(var(--index) * .8);
    color: #E3BDA1;
    text-align: center;
    padding-top: 5px;
    border: none;
    outline: none;
}

.password_field[type=password]::placeholder {
    font-size: calc(var(--index) * .8);
    color: #E3BDA1;
    padding-top: 5px;
    text-align: center;
}

.password_field[type=email]::placeholder {
    font-size: calc(var(--index) * .8);
    color: #E3BDA1;
    padding-top: 5px;
    text-align: center;
}

.date_birth {
    width: calc(var(--index) * 12);
    height: 60px;
    border-radius: 6px;
    background-color: rgba(55, 54, 53, 0.71);
    font-size: calc(var(--index) * .8);
    color: #E3BDA1;
    text-align: center;
    padding-top: 15px;
}

.button_save {
    width: calc(var(--index) * 12);
    height: 60px;
    border-radius: 6px;
    background-color: rgba(55, 54, 53, 0.71);
    font-size: calc(var(--index) * .8);
    color: #E3BDA1;
    text-align: center;
    padding-top: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: .5s;
}

.button_save:hover {
    background-color: rgb(122, 104, 98);
    transition-duration: .5s;
}